# Source files
src/
build/
node_modules/

# Development files
tsconfig.json
.gradle/
gradle/
gradlew
gradlew.bat
build.gradle.kts
settings.gradle.kts
*.iml

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
Dockerfile

# Git
.gitignore